@import '../../styles/bootstrap';
.Recipe {
  .cardBodyScrollX {
    overflow-x: auto;
  }
  .stepTitle {
    font-size: 80%;
    color: #333;
  }
  .recipeIngredientBadge{
    .badge {
      &.badgeName {
        font-size: 90%;
        font-weight: 400;
        padding: 3px 10px 5px 10px;
      }
      &.badgeAisle {
        font-size: 75%;
        font-weight: 200;
        background-color: transparent;
        color: rgba(0, 0, 0, 0.7);
        i {
          color: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}