@import "../styles/global-styles.module.scss";

.App {
    background-color: #f2f2f2;
    padding-bottom: 20px;
    height: 100%;
}

.Category {
    ul {
        li {
            padding: 0 10px;
            border: solid 1px red;
            &:first-child{
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
}
