@import "../../styles/global-styles.module.scss";
.modalBackdrop {
  height: 100vh;
  overflow-y: hidden;
}

.modalBackdrop.white {
  background-color: white;
}

.modalBackdrop.white.show {
  opacity: 1;
}

.stripe {
  color: white;
  background: repeating-linear-gradient(
                  45deg,
                  #ffffff,
                  #ffffff 10px,
                  #FFDFD3 10px,
                  #FFDFD3 20px
  );
}

.modal {
  .modalContent {
    border: solid 1px #fdfdfd;
    .modalHeader {
      border-bottom: solid 1px #fbfbfb;
    }
    .modalFooter {
      border-top: solid 1px #fbfbfb;
    }
    .heartOn {
      color: #E32430;
    }
    .heartOff {
      color: #9c9c9c;
    }

    .listOn {
      color: $appSecondaryColour;
    }
    .listOff {
      color: #9c9c9c;
    }
  }
}